#main{
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.carousel_box{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 50%;
   
}

.prev{
    justify-self: start;
}

.next{
    justify-self: end;
}
.carousel_slide img {
    display: flex;
    width: 80%;
    height: auto;
    justify-self: center;
}

.carousel_slide{
    display: none;
} 

.prev, .next {
    cursor: pointer;
    font-size: large;
    padding: 10px;
    user-select: none;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}   

.review_form{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 15rem;
    background-color: #7B002C;
    color: #ffff;
    font-weight: bolder;
    
}

#name_input{
    min-width: 30%;
}

#review_input{
    min-height: 30%;
}

input{
    min-width: 150%;
}

#submit_button{
    min-height: 5%;
}

body{
    background-color: antiquewhite;
}