body{
    display: flex;
    flex-direction: row ;
}

.carousel_box{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 50%;
   
}

.prev{
    justify-self: start;
}

.next{
    justify-self: end;
}
.carousel_slide img {
    display: flex;
    width: 80%;
    height: auto;
    justify-self: center;
}

.carousel_slide{
    display: none;
} 

.prev, .next {
    cursor: pointer;
    font-size: large;
    padding: 10px;
    user-select: none;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}   

.review_form{
    display: flex;
    max-width: 200%;
    justify-content: right;
    flex-direction: column;
    margin-right: 10%;
}