a{
    color: #ffff;
    text-decoration: none;
    font-family: "Lora", serif;
    font-weight: bold;
    font-size: 150%;
}

.navigation_bar{
    justify-content: center;
    margin-top: 0px;
    background-color: #b62626;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding-block:;
}

#main-text{
    display: flex;
    justify-content: center;
}

#main-image{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }

