body {
    background-color: #b62626;
    margin: 0;
    padding: 10px;
} 
h1 {
    text-align: center;
}
.boxche2 {
    display: inline-block; 
    width: 30%;              
    margin: 1%;            
    background-color: white; 
    padding: 15px;         
    border-radius: 12px;    
    color: black;
    box-sizing: border-box;
}
.boxche2 img {
    width: 100%;        
    border-radius: 12px;    
}
.mqstozajava {
    display: inline-block;
    width: 64%;
    margin: 1%;
    vertical-align: top;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    color: black;
    box-sizing: border-box;
    min-height: 400px;
}