body {
    background-color: #7B002C;
}
h1 {
    text-align: center;
}
.container {
    text-align: center;
}
.boxche {
    display: inline-block; 
    width: 28%;              
    margin: 1%;            
    vertical-align: top;     
    
    background-color: antiquewhite; 
    padding: 15px;         
    border-radius: 12px;    
    color: black;          
}
.boxche img {
    width: 100%;        
    border-radius: 8rem;    
}
